.Cards {
    background: #EBEBEB;
    color: #707070;
    width: 100vw;
    height: 65%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-areas: 
        "a b"
        "c d";
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 2.1rem;
    text-decoration: none;
}

.Card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}


.Lookup {
    grid-area: a;
}

.Precinct {
    grid-area: b;
}

.Calls {
    grid-area: c;
}

.Logout {
    grid-area: d;
}

.Questions {
    grid-area: e;
    width: 95vw;
}

.Logo {
    transform: scale(0.4)
}