.NavLink {
    color: white;
    background-color: 
}

.Navbar{
    background-color: #404040;
    color: white;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 0px;
}

.Nav {
}