.Cards {
    margin: auto;
    width: 85vw; 
    height: auto;
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 6px lightgray;
    border-radius: 20px;
}

.Heading, .Subheading {
    margin: 15px auto;
    width: 85vw; 
    height: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 6px lightgray;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.Heading {
    font-size: 2rem;
    color: #8F80B7;
}

.Subheading {
    font-size: 1.5rem;
    color: #707070;
}

.Submit, .Submit2 {
    background-color: #6EBA44;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 30vw;
    transition: 50ms;
    box-shadow: 0 3px 6px lightgray;
    min-height: 30px;
}

.Submit:active, .Submit2:active {
    background: lightgreen;
    transition: 50ms;
}
.Submit2 {
    background-color:#404040;
    display: block;
    margin: 10px auto;
}