.Card {
    margin: 15px auto;
    min-width: 90vw; 
    max-width: 90vw;
    height: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 6px lightgray;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    color: #707070
}

.Heading {
    color: #8f80b7;
    font-weight: bold;
    font-size: 2.4rem;
}

.SubHeading {
    color: #707070;
    font-weight: bold;
}

.Submit, .Submit2 {
    background-color: #1D1D1D;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 30vw;
    transition: 50ms;
    box-shadow: 0 3px 6px lightgray;
    min-height: 30px;
}

.Submit:active, .Submit2:active {
    background: lightgreen;
    transition: 50ms;
}
.Submit2 {
    background-color:#707070;
    display: block;
    margin: 10px auto;
    min-height: 36px;
    font-size: 1.3rem;
}
