.Cards {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    text-align: justify;
    box-shadow: 0px 3px 6px darkgray;
    font-size: 1.2em;
    border-radius: 10px;
}

.Heading {
    color: #8F80B7;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    width: auto;
    margin:auto;
}

.SearchForm {
    max-width: 95vw;
    display: block;
    margin: auto;
    font-size: 1.4em;
    text-align:center;
    padding-top: 15px;
}

.Input {
    background-color: #f2f2f2;
    border: none;
    padding-left: 5px;
    transition: 200ms;
    border-radius: 5px;
    width: 60vw;
    box-shadow: 0 3px 6px lightgray;
    min-height: 30px;
    color: #707070
}

.Input::placeholder {
    color: lightgray;
}

.Input:focus {
    outline: 0;
    transition: 200ms;
}

.Submit, .Submit2 {
    background-color: #6EBA44;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 30vw;
    transition: 50ms;
    box-shadow: 0 3px 6px lightgray;
    min-height: 30px;
    font-weight: 200;
}

.Submit:active, .Submit2:active {
    background: lightgreen;
    transition: 50ms;
}
.Submit2 {
    display: block;
    margin: auto;
}
.Data {
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
    background: 
}

.Query {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 1.5rem;
    color: #707070
}

