.Heading {
    font-size: 1.5rem;
    color: #8F80B7;
}

.Cards {
    margin: auto;
    width: 85vw; 
    height: auto;
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 6px lightgray;
    border-radius: 20px;
}